body {
    background: #eee !important;
  }

  .guess {
    margin-bottom: 15px;
  }

  .letter {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #ccc;
    text-transform: uppercase;
    line-height: 40px;
    font-family: "Consolas", "Courier New", Courier, monospace;
    cursor: pointer;
    user-select: none;
  }

  .letter_box {
    text-align: center;
    margin: 0 auto;
    width: 960px;
  }

  .yellow_tick {
    background-color: RGBA(255, 193, 7, var(--bs-bg-opacity, 0.5));
  }

  .green_tick {
    background-color: RGBA(25, 135, 84, var(--bs-bg-opacity, 0.5));
  }

  .dark_gray_tick {
    background-color:#666;
  }

  #keyboardModel {
    position: relative;
  }
  
  #keyboardModel .modal-dialog {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  #input, #inputKey {
    font-family: 'Consolas','Courier New', Courier, monospace;
    text-transform: uppercase;
  }