
.content {
    overflow-y:auto;
    grid-row: 2; 
}

.wrapper {
    width:100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 160px auto 155px;
    height: 100%;
    left: 0;
    position: fixed;
}